---
import Bookmark from "./Bookmark.astro";
import bookmarks from "../../public/bookmarks.json";
const latestBookmarks = bookmarks.sort((a, b) => b.number - a.number).slice(0, 10);
---

<div class="flex pt-32 md:justify-center max-md:pt-20 max-md:pl-1">
  <h3 
    data-mobile-tippy="true"
    data-tippy-content="Just a collection of interesting things I’ve found on my travels around the world wide web."
    class="font-headline text-9xl text-purple text-vertical whitespace-nowrap z-10 pr-8">
    Bookmarks
  </h3>
</div>

<div class="py-32 max-md:py-20 max-md:pl-6">
  {latestBookmarks.map((bookmark, index) => {
    const orientation = index % 2 === 0 ? 'right' : 'left';

    return <Bookmark
      title={bookmark.title}
      url={bookmark.url}
      tags={bookmark.tags}
      number={bookmark.number}
      comment={bookmark.comment}
      orientation={orientation} />;
  })}
</div>
